*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container{
    width:calc(100% - 300px);
    margin:auto;
}

.row{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;

}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}