.products{
text-align: left;
width:fit-content;

}

.product1{
    float:left;
    width:100%;
}

.p1{
    float:left;
    padding:5px 5px 5px 5px;
    width:300px;
    border:1px 1px 1px 1px;
    border-color:black;
    border-style:solid;
    
}

.p2{
    float:left;
    padding:5px 5px 5px 5px;
    width:300px;
    border:1px 1px 1px 1px;
    border-color:black;
    border-style:solid;
}

.product2{
    float:left;
    width:100%;
}

.p1 img {
    width:100%;
}

.p2 img {
    width:100%;
}

button{
    content:"add to cart";
    padding: 5px 10px;
    width: 200px;
    background-color: blue;
    color: white;
    

}

.fa-regular {
    padding:3px 3px;
    width:25px;
    height: 25px; 
    border:1px solid blue;
}


.text1{
    color:gray;
    font-size:medium
}

.text2{
    text-decoration: line-through;
    color:red;
    font-size:small;
}

p{
    font-size: larger;
    color: green;
    display:inline-block;

}

.clear{

    clear: both;
}